.board-page {
  position: relative;
  // background-image: url(../images/board-bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;

  &-nav-bar {
    background-color: #0000005c;
    padding: 10px;

    .team-member-icon-wrapper {
      padding: 2px 11px;
      margin-right: 5px;
      border-radius: 50%;

      p {
        font-family: montserratBold;
      }

      @media (max-width: 548px) {
        padding: 7px 8px;
      }
    }

    .MuiSvgIcon-root {
      color: white;
      cursor: pointer;
    }

    .nav-btn {
      padding: 10px 15px;
      background-color: #2020207e;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      transition: 0.3s;

      // &:hover {
      //   background-color: #686868d3;
      // }
    }

    &-logo {
      cursor: pointer;
      height: 25px;
      width: 130px;
      background-image: url("../images/logo-nav.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-filters {
      color: rgba(250, 250, 250, 0.932);
      flex-basis: 0 0 55px;
    }
  }

  &-add-another-column-btn {
    outline: none;
    cursor: pointer;
    height: 30px;
    min-width: 200px;
    text-align: inherit;
    border: 1px solid #0000000d;
    border-radius: 4px;
    padding: 5px;
    margin: 0 4px;
    margin-right: 8px;
    transition: 0.2s;
    font-size: rem(14px);

    &:hover {
      background-color: #5a5a5aa1;
    }
  }

  &-columns-container {
    flex-grow: 1;
    overflow-x: auto;
    margin: 0 3px;
    padding-bottom: 5px;
  }

  .logged-in-user {
    color: white;
    padding-right: 10px;
  }
}

.add-icon {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 2px;
}

.dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.685);

  &:hover {
    background-color: rgba(0, 0, 0, 0.827);
  }
}

.light {
  color: black;
  background-color: #ffffffdc;

  &:hover {
    background-color: #ffffffe7;
  }
}

select {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  padding: 0px 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  font-size: 0.75rem;
  font-family: montserratRegular, "sans-sarif";
}
