.board-page {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;

  &-login{
    top: 12px;
    right: 20px;

    .login-btn{
      padding: 5px;
    }
  }

  &-nav-bar {
    min-height: 57px;
    background-color: #0000005c;
    padding: 10px;

    .team-member-icon-wrapper {
      width: 40px;
      height: 37px;
      padding: 2px 11px;
      margin-right: 5px;
      border-radius: 50%;

      p {
        font-family: montserratBold;
      }

      @media (max-width: 548px) {
        padding: 7px 8px;
      }
    }

    .MuiSvgIcon-root {
      color: white;
      cursor: pointer;
    }

    &-logo {
      cursor: pointer;
      height: 25px;
      width: 130px;
      background-image: url("../images/logo-nav.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-filters {
      flex-basis: 0 0 55px;
    }
  }

  &-add-another-column-btn {
    outline: none;
    cursor: pointer;
    height: 30px;
    min-width: 200px;
    text-align: inherit;
    border: 1px solid #0000000d;
    border-radius: 4px;
    padding: 5px;
    margin: 0 4px;
    margin-right: 8px;
    transition: 0.2s;
    font-size: rem(14px);

    &:hover {
      background-color: #5a5a5aa1;
    }
  }

  &-columns-container {
    flex-grow: 1;
    overflow-y: hidden;
    margin: 5px 8px;
    padding-bottom: 5px;
  }

  .logged-in-user {
    color: white;
    padding-right: 10px;
  }
}

.add-icon {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 2px;
}

// modals
.filter-modal__message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 3;
  padding: 10px;
  background: #000000ab;
  border-radius: 5px;
  border: 1px solid #83838375;
  box-shadow: 0px 0px 5px 0px #adadad6e;
  @media (max-width: 600px) {
    width: 110px;
    font-size: 10px;
  }
}
