.home-page {
  background-color: #000000c7;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-blend-mode: darken;

  .screen {
    z-index: 2;
    background-color: #00000052;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-container {
    min-height: 100vh;

    @media (max-width: 805px) {}

    padding: 105px 15px 0px 15px;
    gap: 10px;


    h1 {
      line-height: initial;
      letter-spacing: 4px;
      font-size: rem(40px);
      text-shadow: 3px 3px 3px black;
    }

    h2 {
      font-weight: 600;
      color: white;
      font-size: 1rem;
      text-shadow: 1px 1px 1px black;
    }

    .login-get-started-container {
      width: 60%;
    }

    .MuiFab-root {
      width: 200px;
      z-index: 1;
      color: white;
      background: #1d941ddb;
      box-shadow: rgba(255, 255, 255, 0.185);
      transition: 0.4s;
      padding: 15px 30px;
      border: none;
      border-radius: 4px;

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }

      &:hover {
        background: #1d941d;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.678);
      }
    }
  }

  // boards list -------------------------
  .boards-list {
    h1 {
      font-size: 20px;
    }

    &-start-new-board {
      max-width: 350px;
      padding-left: 20px;

      &-card {
        cursor: pointer;
        width: 250px;
        height: 250px;
        border: 3px dashed rgb(0, 0, 0);
        border-radius: 4px;
        margin: 40px;
        transition: 0.5s;

        &:hover {
          background-color: rgba(201, 201, 201, 0.555);
          box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.829);
        }

        h2 {
          font-size: 1.3rem;
          color: rgb(0, 0, 0);
        }

        small {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

.subtitle {
  max-width: 300px;
}