.home-page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  &-container {
    z-index: 1;
    min-height: 100vh;
    padding: 105px 15px 0px 15px;

    h1 {
      line-height: initial;
      letter-spacing: 4px;
      font-size: rem(50px);
      text-shadow: 3px 3px 3px black;
    }

    h2 {
      width: 70%;
      font-weight: 600;
      color: white;
      font-size: 1rem;
      text-shadow: 1px 1px 1px black;
    }

    @media (max-width: 400px) {
      h1 {
        font-size: 2.3rem;
      }

      h2 {
        padding-top: 5px;
        font-size: 0.8rem;
        text-align: center;
      }
    }

    @media (max-width: 835px) {
      justify-content: start;

      .get-started-container {
        padding-left: 35px;
      }
    }

    @media (max-width: 600px) {
      .get-started-container {
        width: 100%;
        align-items: center;
        padding-left: 0px;
        flex-wrap: wrap;
        h2 {
          width: 100%;
        }
        .content {
          align-items: center;
          padding-bottom: 30px;
        }
      }
    }

    .get-started-btn, action-btn {
      width: 200px;
      z-index: 1;
      color: white;
      background: #1d941ddb;
      box-shadow: rgba(255, 255, 255, 0.185);
      transition: 0.4s;
      padding: 15px 30px;
      border: none;
      border-radius: 4px;

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }

      &:hover {
        background: #1d941d;
        box-shadow: 0px 0px 10px 1px rgba(76, 76, 76, 0.431);
      }
    }

    .get-started__img {
      height: 300px;
      @media (max-width: 700px) {
        height: 250px;
      }
      @media (max-width: 600px) {
        height: 200px;
      }
    }
  }

  // boards list -------------------------
  .boards-list {
    padding: 0 10%;
    min-height: 110px;
    z-index: 1;
    h1 {
      font-size: 20px;
    }

    &-start-new-board {
      max-width: 350px;
      padding-left: 20px;

      &-card {
        cursor: pointer;
        width: 250px;
        height: 250px;
        border: 3px dashed rgb(0, 0, 0);
        border-radius: 4px;
        margin: 40px;
        transition: 0.5s;

        &:hover {
          background-color: rgba(201, 201, 201, 0.555);
          box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.829);
        }

        h2 {
          font-size: 1.3rem;
          color: rgb(0, 0, 0);
        }

        small {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .footer-bgimg {
    height: 100%;
    background-image: url("../images/footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
    opacity: 0.6;
  }
}
