.boards-list {
  padding: 30px;
  p {
    margin-bottom: 10px;
    color: white;
    font-size: rem(12px);
  }

  span {
    text-align: center;
    color: white;
    font-size: rem(10px);
  }

  hr {
    margin: 0px 0px 15px 0px;
    border-color: #535456;
  }

  .templates-container,
  .boards-container {
    gap: 10px;
    overflow-x: scroll;
    margin: 0px 30px;
    padding-bottom: 5px;
  }
}
