.boards-list {
  background: #1b1b1b;
  padding: 20px 0px;
  p {
    padding-left: 10px;
    font-weight: 600;
    color: white;
    font-size: rem(12px);
  }

  span {
    text-align: center;
    color: white;
    font-size: rem(10px);
  }

  hr {
    margin: 0px 0px 15px 0px;
    border-color: #535456;
  }

  &-main-inner-container {
    // height: 260px;
    &-grid {
      display: grid;
      grid-gap: 26px;
      grid-template-columns: repeat(auto-fill, 250px);
      &-item {
        display: grid;
        height: 200px;
        width: 250px;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.529);
        &:hover {
          box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.529);
        }
      }
    }
  }
}
