.board-preview {
  &.card {
    width: 170px;
    height: 135px;
    position: relative;
    transition: 0.3s;

    .title-container {
      position: absolute;

      p {
        text-shadow: 0px 1px 8px black;
        font-size: 12px;
        color: white;
        z-index: 2;
      }

      transition: all 0.2s ease;
    }

    &:hover {
      .title-container {
        background-color: rgba(0, 0, 0, 0.692);
      }

      p {
        font-size: 14px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      z-index: 0;
      border-radius: 4px;
      position: absolute;
      object-fit: cover;
      filter: brightness(0.8);
    }


  }
}