.boards-list {
  padding: 30px 100px;
  @media (max-width: 750px) {
    padding: 20px 0px;

    h1 {
      text-align: center;
      font-size: rem(20px);
      padding: 10px;
    }

    p {
      padding-left: 10px;
    }
  }
  p {
    margin-bottom: 10px;
    color: white;
    font-size: rem(12px);
  }

  span {
    color: white;
    font-size: rem(10px);
  }

  hr {
    margin: 0px 0px 15px 0px;
    border-color: #535456;
  }

  &-container {
    min-height: 150px;
  }

  .templates-container,
  .boards-container {
    gap: 10px;
    overflow-x: scroll;
    padding-bottom: 5px;
    margin-bottom: 45px;
  }
}
