.duedate-edit {
  width: 200px;
  // height: 120px;
  background-color: white;
  box-shadow: 0px 0px 0px 2px #aeaeaeb5;
  border-radius: 4px;
  right: 11px;
  top: 254px;
  position: absolute;
  z-index: 2;

  @media (max-width: 488px) {
    top: 248px;
  }

  &-close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  input{
    border-radius: 4px;
    width: 100%;
    text-align: center;
  }
}

.react-datepicker {
  display: flex;
  position: relative;
  height: 245px;
  width: 328px;
}

.close-btn-container {
  width: 100%;
  height: 40px;

  &>.MuiSvgIcon-root {
    height: 18px;
    width: 18px;
  }
}
