.login-container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  z-index: 5;
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  width: 270px;
  
  p {
    color: white;
    font-weight: 600;
  }

  &-logo {
    margin: 20px 0px;
    height: 50px;
    width: 120px;
    background-image: url("../images/logo-nav.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-login-btn,
  &-signup-btn {
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
    font-weight: 600;
    background-color: #5aac44;
    transition: 0.3s;

    &:hover {
      background-color: #53c234;
    }
  }

  &-form-container {
    &-logout {
      padding: 5px 10px;
      margin-top: 5px;
      color: white;
      font-weight: 600;
      background-color: #bb1c1cad;
      transition: 0.3s;

      &:hover {
        background-color: #bb1c1cd0;
      }
    }
  }


}
